*{  
    box-sizing: border-box;
    font-family: 'Lemon', cursive;
    font-size: 14px;
    list-style: none;
    margin: 0;
    padding: 0;
}

#root{
    padding: 20px 0 0;
}

#arena{
    margin: auto;
    width: 500px;
}

.quizHeader{
    background: #3C67EE;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
    text-align: center;
}
.quizHeader h2 {
    color: #fff;
    font-size: 20px;
}
.quizContainer{
    background: #eee;
    border: 1px solid #5c00ff;
    border-bottom: none;
    min-height: 150px;
}
.quizFirstPSplash {
    color: #e90000;
    margin: 20px;
    padding: 20px;
    text-align: center;
}
.quizSecondPSplash {
    color: #3C67EE;
    font-size: 16px;
    text-align: center;
}
.quizFooter{
    background: #3C67EE;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
}
.quizFooter button {
    background: #e90000;
    border: none;
    border-bottom: 3px solid #B30000;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 5px;
    transition: all .1s;
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
}
.quizFooter::after{
    content: "";
    clear: both;
    display: table;
}

.quizFooter button:hover{
    background: #B30000;
    border-bottom-color: #e90000;
}
.quizFooter button:active{
    margin-top: 3px;
    margin-bottom: -3px;
    border-bottom-color: transparent;
}

.quizContainer li{
    background: #ddd;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    transition: all 1s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    text-align: center;

}
.quizContainer li+li{
    border-top: 1px solid #e90000;
}
li.quizSelected {
    background: #FFEB00;
    color: #fff;
    text-shadow: 1px 1px 3px #000;
}

.quizFooter button.quizNextBtn{
    background: darkgreen;
    border-bottom-color: green;
    float: right;
}
.quizFooter button.quizNextBtn:hover{
    background: green;
    border-bottom-color: darkgreen;
}
.quizScore {
    color: #e90000;
    font-size: 16px;
    padding: 10px 0;
    text-align: center;
}
.quizEndLose {
    color: #e90000;
    font-size: 23px;
    text-align: center;
    margin: 20px 10px;
}
.quizEndWin {
    color: green;
    font-size: 23px;
    text-align: center;
    margin: 20px 10px;
}
.quizFooter button.quizPlayAgain{
    background: darkgreen;
    border-bottom-color: green;
    float: right;
}
.quizFooter button.quizPlayAgain:hover{
    background: green;
    border-bottom-color: darkgreen;
}