*{  
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

#root{
    padding: 20px 0 0;
}

#arena{
    margin: auto;
    max-width: 500px;
}
.quizHeader h2 {
    color: #fff;
    font-size: 24px;
}
.quizContainer{
    background: #eee;
    min-height: 150px;
    padding: 0;
}
.quizContainer ul{
    margin-bottom: 0;
}
.quizFooter{
    background-color: #428bca;
}
.quizLogin {
    padding-top: 30px;
    text-align: center;
}
.quizLogin p{
    padding: 10px;
}
.quizLoginChange{
    padding-bottom: 20px;
}
.quizContainer li{
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    transition: all 1s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    text-align: center;
}
.pSplashFirst{
    margin-top: 30px
}
.quizScore {
    font-size: 18px;
    padding: 10px 0;
    text-align: center;
}
.quiz-ranking h3{
    margin-top: 10px;
    padding: 10px 0 0;
}
.quiz-ranking ol{
    margin-bottom: 0
}
.quiz-ranking li{
    background: #D9F2F7;
    padding: 3px 0;
    list-style: decimal;
}
.quiz-ranking li:nth-last-child(1){
    background: #F7D9D9;
}
.quiz-ranking li:nth-last-child(2){
    background: #F7E4D9;
}
.quiz-ranking li:nth-child(1) {
    background: #DFF0D8;
}
.quiz-ranking li:nth-child(2) {
    background: #FCF8E3;
}

.quizEndText {
    font-size: 27px;
    text-align: center;
    margin: 20px 10px;
}

#arena .btn {
    font-size: 16px
}

.text-red{
    color: #e90000;
}